body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tempimg {
  /* width: 100px;
  height: 100px; */
  max-width: 89%;
}

.item-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.48); */
  background-color: rgb(255, 255, 255);
  animation: 1s ease-in-out 0s 1 slideInFromBottom;
  
}

.gear-cont, .merch-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 5% 5%;
  background-color: lightblue;
}

.gear-cont {
  background-image: url('/public/0026_11.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  
}

/* .item-card > h3, h4, p {
  max-width: 100%;
  min-width: 90%;
} */

nav {
  position: sticky;
  top: 0;
  display: inline-flex;
  /* padding-left: 20px; */
  gap: 20px;
  /* padding-top: 1.5%;
  padding-bottom: 1.5%; */
  align-items: center;
  /* background-color: lightgray; */
  background-color: white;
  width: 100%;
  justify-content: space-between;
  padding: 0.5% 5%;
  padding-left: 2%;
  box-shadow: -1px 2px 16px 0px rgba(128, 128, 128, 0.313);
  z-index: 100;
}




nav > div > a > h1 {
  margin: 0px;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.nav-rs {
  display: inline-flex;
  gap: 40px;
}

.nav-rs > a, div > a {
  font-weight: 600;
  font-size: 20px;
}

.cartHoverCont {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* margin-top: 10px; */
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding-top: 20px;
  /* top: 40px; */
  background-color: #ffffff;
  right: 0%;
  min-width: 400px;
  /* width: 200%; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  box-shadow: 0px 12px 9px 0px rgb(128 128 128 / 53%);
  z-index: 1;
  gap: 10px;
}

.dropdown-content > a {
  width: 100%;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content > a:hover {
  background-color: white !important;
}

.dropdown-content > a > button {
  width: 80%;
  height: 50px;
  margin-bottom: 4%;
  border-radius: 8px;
  /* width: 50%;
  height: 50px; */

  font-size: 20px;
  
  font-weight: bold;
  transition: 0.2s ease-out;
  background: #216EF7;
  border: 1px solid #216EF7;
  color: white;
}

.dropdown-content > a > button:hover {
  background: #ffffff;
  border: 1px solid #216EF7;
  color: black;
}

.cart-hover-img {
  width: 20%;
  height: 20%;
}

.nav-cart-card {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.nav-cart-card > h2 {
  font-size: 16px;
  width: 20%;
  }

.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.cartHoverCont:hover .dropdown-content {display: flex;}

.hidden {
  display: none !important;
}

a {
  color: black;
  text-decoration: none; 
}

.home {
  height: 95vh;
  background-image: url('/public/0026_11.jpeg');
  background-repeat: repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 10%;
  gap: 10%;
}

.logo-img {
  width: 25%;
 
  animation: 1s ease-out 0s 1 slideInFromLeft;
 
}

.logo-text {
  margin: 0;
  animation: 2s ease-out 0s 1 opacityFade;
  font-size: 100px;
}

.gear-title {
  margin: 0;
  margin: 5px 0px;
  font-size: 35px;
  font-weight: bolder;
}

.gear-description {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0;
}

.gear-bottom {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 6%;
  
}

.gear-bottom > p {
  font-size: 30px;
  font-weight: bold;
  
}
/* .card-card > h2, p {
  max-width: 20%;
} */
.gear-bottom > button {
  
  border-radius: 8px;
  width: 50%;
  height: 50px;

  font-size: 20px;
  
  font-weight: bold;
  transition: 0.2s ease-out;
}

.gear-bottom > button:hover {
  background: #ffffff;
  border: 1px solid #216EF7;
  color: black;
}

.add-to-cart {
  background: #216EF7;
  border: 1px solid #216EF7;
  color: white;
}

.remove-from-cart {
  /* Button Colors/Icon Gray Default #A8B3BC */

  border: 1px solid #A8B3BC;
  border-radius: 8px;
  color: #A8B3BC;
  background-color: white;
}

.merch-cont {
  background-image: url('/public/0025_12.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  padding: 5% 15%;
}

.size-select {
  padding-top: 5%;
  padding-left: 7%;
  width: 100%;
  display: inline-flex;
  /* justify-content: center; */
  gap: 3%;
  font-size: 20px;
  font-weight: bold;
  
}

.merch-description {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0;
  width: 80%;
  text-align: center;
}

.cartBody, .checkount-cont {
  background-image: url('/public/0025_12.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  min-height: 94.8vh;
  padding: 5% 15%;
  display: inline-flex;
  width: 100%;
  gap: 3%;
  padding: 2%;
  
}

.cart-content {
  background-color: white;
  width: 70%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: fit-content;
  position: sticky;
  top: 11%;
  padding: 1%;
  gap: 20px;
  
}

.checkout-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.checkout-info > p {
  width: 80%;
  margin: 0;
}

.checkout-info > h2 {
  margin: 0;
}

.checkout > a {
  width: 100%;
}

.checkout-button {
  background: #216EF7;
  border: 1px solid #216EF7;
  color: white;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.2s ease-out;
}

.checkout-button:hover {
  background: #ffffff;
  border: 1px solid #216EF7;
  color: black;
}

.cart-card {
  background-color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 1%;
  justify-content: space-between;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
  padding-bottom: 1%;
  border-bottom: 1px solid #b6b6b6;
}

.checkout-img {
  width: 80%;
}

.cart-header {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
  padding-top: 3%;
  /* border-bottom: 1px solid black; */
}

.cart-card > h2 {
  font-size: 18px;
  font-weight: 400;
}

.cart-header > p {
  margin: 0;
  font-size: 19px;
  font-weight: bolder;
  color: #b6b6b6;
}

.quantity-button {
  display: inline-flex;
  align-items: center;
  gap: 10%;
}

hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-bottom: 1px solid #b6b6b6;
  padding: 0; 
  width: 98%;
}

.quantity-button > button {
  background: #216EF7;
  border: 1px solid #216EF7;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  
}

button {
  cursor: pointer;
}
.delete-img {
  width: 50%;
  cursor: pointer;
}

.checkout-logo {
  width: 50%;
}

.hover-delete-img {
  width: 10%;
}

.nav-logo {
  width: 5%;
  height: fit-content;
}

.nav-ls {
  display: inline-flex;
  align-items: center;
  gap: 2%;
}

.hb-content {
  display: none;
  position: sticky;
  top: 52px;
  width: 100%;
  background: white;
  flex-direction: column;
  z-index: 50;
  /* gap: 10px; */
}

.hb-content > a {
  padding: 2% 2%;
  font-size: 25px;
  font-weight: bold;
}

.hamburger-img {
  display: none;
  width: 10%;
}

.hb-content > a:hover {
  background-color: lightgray
}

.closed {
  display: none !important;
}

.mobile {
  display: none !important;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
    
  }
  /* 50%{
    opacity: 10%;
  } */
  100% {
    opacity: 1;
    
    transform: translateX(0);
   
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0);
  }
  /* 50%{
    opacity: 10%;
  } */
  100% {
    opacity: 1;
    background-color: rgb(255, 255, 255);
    transform: translateY(0);
   
  }
}



@keyframes opacityFade {
  0% {
    /* transform: translateX(100%); */
    opacity: 0%;
  }
  
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

.checkout-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.42);
  text-align: center;
}

.checkount-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:600px)  { 
  .nav-rs {
    display: none;
  }

  .gear-cont, .home, .merch-cont, .cartBody, .checkount-cont {
    
    background-size: 350%;
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
  }
  
  .logo-img {
    width: 60%;
    /* width: 0px; */
  }

  .home {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    text-align: center;
    justify-content: center;
  }

  .home > h1 {
    font-size: 40px;
  }

  .merch {
    text-align: center;
  }

  .gear-bottom > button {
    font-size: 16px;
  }

  .item-card {
    animation:  none;
  }

  .merch-cont {
    padding: 5% 5%;
  }

  nav {
    padding: 1.5% 5%;
    max-height: 50px;
  }

  .gear-description {
    width: 80%;
    text-align: center;
  }

  .hb-content {
    display: flex;
  }

  .hamburger-img {
    display: block;
    width: 10%;
   
    
  }

  .cancel-img {
    opacity: 0.6;
    width: 9%;
    padding-right: 2%;
  }

  .checkout {
    display: none;
  }

  .cart-content {
    width: 100%;
  }

  .cart-card {
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
  }

  .cart-header {
    /* display: none; */
    grid-template-columns: 1fr 1fr 0.5fr 1fr 0.5fr;
  }

  .cart-card > h2 {
    display: none;
  }

  .filler {
    display: none;
  }

  .item-header{ 
    padding-left: 20%;
  }

  .delete-img {
    width: 70%;
  }

  .item-size {
    padding-right: 30px;
  }

  .checkout-button {
    display: block !important;
    margin-bottom: 1%;
  }

  .cartBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  }

  .mobile {
  display: flex;
  }

  .nav-logo {
    width: 30px;
    max-width: 30px;
    max-height: 30px;
  }

  .nav-ls {
    gap: 4%;
  }

  .checkout-content {
    width: 90vw;
    padding: 50px;
    height: 100vh;
  }

  .quantity-button > button {
    max-width: 25px;
    max-height: 25px;
  }

}